div.desktop-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/desktop-backgrounds/yosemite.jpg');
    background-size: cover;
}
.desktop-icons {
  margin-top: 60px;  
}
