<div class="desktop-background"></div>
<os-taskbar></os-taskbar>
<os-dock></os-dock>
<os-window></os-window>

<div class="desktop-icons pull-right">
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column">
                <os-icon icon="assets/images/icons/trash-icon.png" color="white" label="Trash" (dblClick)="windowService.showWindow('Finder', ['/trash'])"></os-icon>
                <os-icon icon="assets/images/icons/txt-icon.png" color="white" label="readme.txt"></os-icon>
            </div>
        </div>
    </div>
</div>
