<div class="ui top attached tabular menu">
  <a class="item active" data-tab="facebook"><i class="fa fa-facebook-official"></i> &nbsp;Facebook Page</a>
  <a class="item" data-tab="youtube"><i class="fa fa-youtube"></i>&nbsp;Youtube Videos</a>
  <a class="item" data-tab="map"><i class="fa fa-map-marker"></i>&nbsp;My Address</a>
  <a class="disabled item" data-tab="" disabled><i class="fa fa-plus"></i></a>
</div>
<div class="ui active bottom attached tab segment active" data-tab="facebook">
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fthegeek404way%2F&tabs=timeline&width=500&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=224519831374119" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" style="margin-left: 20px"></iframe>
</div>
<div class="ui bottom attached tab segment" data-tab="youtube">
  <iframe width="500" height="315" src="https://www.youtube.com/embed/videoseries?list=PLwP2ooEoyHqKrF8aVhnnRnYVo1MygacCS" frameborder="0" style="margin-left: 20px" gesture="media" allowfullscreen></iframe>
</div>
<div class="ui bottom attached tab segment" data-tab="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1965.0228325023627!2d78.09439042569022!3d9.930155090244092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00cf6914288beb%3A0xa4589add82c551dc!2sKalavasal%2C+Madurai%2C+Tamil+Nadu+625016!5e0!3m2!1sen!2sin!4v1509809226374" width="500" height="300" frameborder="0" style="border:0" style="margin-left: 20px" allowfullscreen></iframe>
</div>
