.dock {
    background: rgba(236,240,241, 0.7) !important;
    position:absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 190px;
    .dock-item {
        img {
            display: inherit;
        }
        display: inline-block;
    }
}
.tiny {
    width: 60px !important;
}
