<div class="ui segment dock">
  <div class="dock-item" (click)="windowService.showWindow('Finder', ['/finder'])">
      <img class="ui tiny image" src="assets/images/icons/finder-icon.png" alt="">
  </div>
  <div class="dock-item" (click)="windowService.showWindow('Mail', ['/mail'], 'tiny')">
      <img class="ui tiny image" src="assets/images/icons/mail-icon.png" alt="">
  </div>
  <div class="dock-item">
      <img class="ui tiny image" src="assets/images/icons/iphoto-icon.png" alt="">
  </div>
</div>
