<div class="ui segment titlebar clearfix">
  <div class="pull-left">
    <div class="window-action">
      <span class="window-action-icon bg-ligt-red" (click)="windowService.closeWindow()">
        <i class="fa fa-times"></i>
      </span>
      <span class="window-action-icon bg-light-yellow">
        <i class="fa fa-minus"></i>
      </span>
      <span class="window-action-icon bg-light-green">
        <i class="fa fa-expand"></i>
      </span>
    </div>
    <div class="ui horizontal segments navigation">
      <div class="ui segment text-center">
        <i class="fa fa-angle-left"></i>
      </div>
      <div class="ui segment text-center">
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="pull-right">
    <div class="ui search search-bar">
      <div class="ui left icon mini input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
    </div>
  </div>
  <div class="text-center">{{ title }}</div>
</div>
